@model APL.Models.Player

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-white">Delete</h1>

<h3 class="text-white">Are you sure you want to delete info about this player?</h3>
<div>
    @*<h4>Player</h4>*@
    <hr />
    <dl class="row bg-white">
        <dt class = "col-sm-2 text-danger">
            @Html.DisplayNameFor(model => model.PlayerName)
        </dt>
        <dd class = "col-sm-10 text-danger">
            <h5>@Html.DisplayFor(model => model.PlayerName)</h5>
            <p>
                @if (!String.IsNullOrEmpty(@Model.PlayerPhoto))
                {
                    <img src="@Html.DisplayFor(modelItem => Model.PlayerPhoto)" alt="Player photo" style="width: 100%; max-width: 250px; display: block;" data-holder-rendered="true" />
                }
                else
                {
                    <img src="/img/coach.png" alt="Coach photo" style="width: 100%; max-width: 250px; display: block;" data-holder-rendered="true" />
                }
            </p>
        </dd>
        @*<dt class = "col-sm-2 text-danger">
            @Html.DisplayNameFor(model => model.PlayerPhoto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlayerPhoto)
        </dd>*@
        <dt class = "col-sm-2 text-danger">
            @Html.DisplayNameFor(model => model.PlayerNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlayerNumber)
        </dd>
        <dt class = "col-sm-2 text-danger">
            @Html.DisplayNameFor(model => model.PlayerPosition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlayerPosition)
        </dd>
        <dt class = "col-sm-2 text-danger">
            @Html.DisplayNameFor(model => model.PlayerDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlayerDescription)
        </dd>
        <dt class = "col-sm-2 text-danger">
            @Html.DisplayNameFor(model => model.Club)
        </dt>
        <dd class = "col-sm-10">
            <span class="text-danger">
                <h5>@Html.DisplayFor(model => model.Club.ClubName)</h5>
            </span>
            <span class="float-md-none">
                @if (!String.IsNullOrEmpty(@Model.Club.ClubCrest))
                {
                    @*@Html.DisplayFor(modelItem => item.CoachPhoto)*@
                    <img src="@Html.DisplayFor(model => model.Club.ClubCrest)" alt="Coach photo" style="width: 100%; max-width: 70px; display: block;" data-holder-rendered="true" />
                }
                else
                {
                    <img src="/img/APL_2.png" alt="Coach photo" style="width: 100%; max-width: 150px; display: block;" data-holder-rendered="true" />
                }
            </span>
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PlayerId" />
        <input type="submit" value="Delete" class="btn btn-outline-danger" /> |
        <a class="btn btn-danger" asp-action="Details" asp-route-id="@Model.PlayerId">PLAYER INFO</a> |
        <a asp-action="Index" class="btn btn-danger">PLAYERS LIST</a>
    </form>
</div>
