@model IEnumerable<APL.Models.Player>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-danger">Player list</h1>

<p>
    <a asp-action="Create" class="btn btn-block btn-danger">Add Player</a>
</p>
@if (Model.Count() == 0) // перевірка наявності збережених клубів у БД
{
    <p><h2 class="text-white">No Players yet in database</h2></p>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr class="text-danger bg-light align-middle text-center">
                <th class="align-middle">
                    @Html.DisplayNameFor(model => model.PlayerName)
                </th>
                <th class="align-middle">
                    @Html.DisplayNameFor(model => model.PlayerPhoto)
                </th>
                <th class="align-middle">
                    @Html.DisplayNameFor(model => model.PlayerNumber)
                </th>
                <th class="align-middle">
                    @Html.DisplayNameFor(model => model.PlayerPosition)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.PlayerDescription)
                    </th>*@
                <th class="align-middle">
                    @Html.DisplayNameFor(model => model.Club)
                </th>
                <th class="align-middle" style="width: 210px;">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="text-danger bg-white">
                    <td class="align-middle text-center">
                        @Html.DisplayFor(modelItem => item.PlayerName)
                    </td>
                    <td class="align-middle text-center">
                        @*@Html.DisplayFor(modelItem => item.PlayerPhoto)*@
                        @if (!String.IsNullOrEmpty(@item.PlayerPhoto))
                        {
                            <img src="@Html.DisplayFor(modelItem => item.PlayerPhoto)" alt="Player photo" style="width: 100%; max-width: 150px; min-width: 40px; display: block;" data-holder-rendered="true" />
                        }
                        else
                        {
                            <img src="/img/APL_2.png" alt="Player photo" style="width: 100%; max-width: 150px; min-width: 100px; display: block;" data-holder-rendered="true" />
                        }
                    </td>
                    <td class="align-middle text-center">
                        @Html.DisplayFor(modelItem => item.PlayerNumber)
                    </td>
                    <td class="align-middle text-center">
                        @Html.DisplayFor(modelItem => item.PlayerPosition)
                    </td>
                    @*<td class="align-middle text-center">
                            @Html.DisplayFor(modelItem => item.PlayerDescription)
                        </td>*@
                    <td class="align-middle text-center">
                        @Html.DisplayFor(modelItem => item.Club.ClubName)
                        @if (!String.IsNullOrEmpty(item.Club.ClubCrest))
                        {
                            <img src="@item.Club.ClubCrest" alt="Club crest" style="width: 100%; max-width: 70px; display: block; margin: 0 auto;" data-holder-rendered="true" />
                        }
                        else
                        {
                            <img src="/img/APL_2.png" alt="Club crest" style="width: 100%; max-width: 150px; display: block; margin: 0 auto;" data-holder-rendered="true" />
                        }

                    </td>
                    <td class="align-middle text-center">
                        <a class="btn btn-sm btn-outline-secondary" asp-action="Edit" asp-route-id="@item.PlayerId">Edit</a> |
                        <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.PlayerId">Details</a> |
                        <a class="btn btn-sm btn-outline-danger" asp-action="Delete" asp-route-id="@item.PlayerId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
