@model IEnumerable<APL.Models.Match>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@if (Model.Count() == 0) // перевірка наявності збережених клубів у БД
{
    <p><h2 class="text-white">No Matches yet in database</h2></p>
}
else
{

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MatchDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HomeClubId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AwayClubId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Town)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Stadium)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MatchResult)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MatchDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MatchIsOver)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MatchDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HomeClubId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AwayClubId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Town.TownName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Stadium.StadiumName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MatchResult)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MatchDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MatchIsOver)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.MatchId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.MatchId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.MatchId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
