@model APL.Models.Stadium

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-white">Stadium details</h1>

<div>
    @*<h4>Stadium</h4>*@
    <hr />
    <dl class="row bg-white">
        <dt class = "col-sm-2 text-danger">
            @Html.DisplayNameFor(model => model.StadiumName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StadiumName)
        </dd>
        <dt class = "col-sm-2 text-danger">
            @Html.DisplayNameFor(model => model.StadiumDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StadiumDescription)
        </dd>
        <dt class = "col-sm-2 text-danger">
            @Html.DisplayNameFor(model => model.Town)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Town.TownName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StadiumId" class="btn btn-primary">EDIT INFO</a> |
    <a asp-action="Index" class="btn btn-danger">STADIUMS LIST</a>
</div>
